@charset "utf-8";

/***********************/
/*                     */
/*  foundation design  */
/*                     */
/***********************/

html {
  height: 100%;
}

body {
  margin:  0px;
  padding: 0px;
  height:  100%;
}

hr {
  margin:  0px;
  padding: 0px;
}



/************************/
/*                      */
/*  game screen design  */
/*                      */
/************************/

div#game {
  position: relative;
  margin:   0px auto;
  padding:  20px 30px;
  width:    280px;
  border:   solid 2px;
}

/* light design */
div.lights {
  display: inline-block;
  margin: 10px 10px;
  width:   40px;
  height:  40px;
  border: solid 1px #000000;
}

div.lights_out{
  /* when turned off */
  background: #2c2c2c;
}

div.red {
  background: #ff0000;
}

div.blue {
  background: #0000ff;
}

div.yellow {
  background: #ffe800;
}

div.green {
  background: #00b800;
}

div#start_message {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 10px 5px;
  border: solid 5px #c0e8ff;
  border-radius: 10px;
  color: #ffffff;
  font-size: 24pt;
  background: #a8c0ff;
  text-align: center;
  cursor: pointer;
}

div#start_message:hover {
  border-color: #a8c0f0;
  background:   #80a8c8;
  color: #d8d8d8;
}

div#stock {
  width: 180px;
  margin: 0px auto;
  padding: 10px 20px;
  border-radius: 10px;

  background: #ffe8c0;
  font-size: 13pt;
  text-align: center;
}

footer {
  margin:     0px 20px;
  padding:    10px 0px;
}

footer div#copy {
  color:       #0000ff;
  font-size:   10pt;
  font-weight: bold;
  font-family: "Courier New", monospace;
  text-align:  right;
}



/***********************************************************/
/*                                                         */
/*                                                         */
/*  Copyright (C) 2017 Soichiro Kato All Rights Reserved.  */
/*                                                         */
/*                                                         */
/***********************************************************/
